.Search-Movie {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  margin-bottom: 10px;
}
.Search-Movie input {
  width: 500px;
  height: 20px;
  /* border: 1px solid blue; */
  border-radius: 10px;
}

.MovieList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.MovieCard {
  height: 400px;
  width: 350px;
  border: 1px solid grey;
  border-radius: 12px;
  margin: 10px 10px;
}

.MovieCard img {
  height: 250px;
  width: 100%;
}

.gold {
  color: gold;
}
/* ************************AddMovie component******************************* */
.add-btn-modal {
  height: 150px;
  width: 200px;
  font-size: 3em;
  background-color: blue;
  cursor: pointer;
}
.Modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-color: white;
}

.Modal form {
  display: flex;
  flex-direction: column;
}

.Modal input {
  width: 450px;
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.btn-container button {
  border-radius: 10px;
  color: aliceblue;
  width: 150px;
}
.btn-container :nth-child(1) {
  background-color: green;
}

.btn-container :nth-child(2) {
  background-color: red;
}

/* ******************LoadingSpinner************************************* */
.spinner {
  display: flex;
  justify-content: center;
}
